.weather {
  font-family: "Times New Roman", Times, serif;
  border: 1px orange;
  padding: 16px;
  border-radius: 4px;
  color: rgb(55, 115, 245);
}

.Weather h1 {
  font-size: 28px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 25px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 18px;
  font-weight: 100;
  line-height: 16px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(4, 5, 83);
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  color: rgb(4, 5, 83);
  font-size: 18px;
  font-weight: 400;
  position: relative;
  line-height: 2;
  top: -34px;
}
